*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
images/copied_from_nb/my_icons/fastai_logo.png
.gitignore
_posts/2022-09-docker-server.md
_posts/2022-09-docker-server.md
_posts/2023-03-13-AP-unit2-4a.md
.gitignore
_posts/2022-10-03-AP-error_testing-copy.md
_posts/2022-12-06-unit3-9-11.md
_posts/2022-12-13-SimulationStudentLesson.md
_posts/2023-03-31-CORSLessonPLan.md
_posts/2023-03-29-HashmapsNotes+Hacks.md
_posts/2023-03-29-DS-hashmaps.md
_posts/2023-03-28-Unit-4.3A-Parallel-ComputingNOTES+HACKS.md
_posts/2022-12-12-Lesson-Unit-3-Section-14-15.md
_posts/2022-12-14-Quinn&Group.md
_posts/2023-01-04-Unit_3.8_3.10.md
_posts/2023-01-10-PBL-model.md
_posts/2023-01-17-PBL-database.md
_posts/2023-01-18-SQLite3Testing.md
_posts/2023-03-07-AP-unit2-2.md
_posts/2023-03-09-AP-unit2-3.md
_posts/2023-03-10-AP-unit2-3-.md
_posts/2023-03-16-AP-unit2-4b.md
_posts/2023-03-17-AP-unit2-4bHACKS.md
_posts/2023-03-19-4aand4bdatabasebacks.md
_posts/2023-03-22-Space-and-TIme-ComplexityHacks+Notes.md
_posts/2022-10-03-AP-error_testing-copy.md
_posts/2022-12-08-lesson3.12_3.13.md
_posts/2022-10-03-AP-error_testing-copy.md
